{% extends "layout.html" %}
{% block content %}

<head>
	<div class="login">
        	{% if session.username %}
        	<p>Kirjautunut käyttäjänä {{ session.username }}</p>
        	<a href="/logout">Kirjaudu ulos</a>
        	{% else %}
        	<p>
        	<a href="/login">Kirjaudu sisään</a> | <a href="/register">Rekisteröidy</a>
        	</p>
        	{% endif %}
	</div>
	<h1>Ravintolat, jotka ovat tyyppiä: {{ restaurant_name }} </h1>
</head>

<body>
	<div class="box">
		<br>
		{% for result in results %}
		<a href="/restaurant/{{ result[1] }}">{{ result[1] }}</a>
		<p>
		{% endfor %}
	</div>
	<br>
	<a href="/">Etusivulle</a>
</body>

{% endblock %}
