<title>Ravintolasovellus</title>
<h1>Tervetuloa!</h1>
<br>
Ravintolahaku:<br>
<form action="/result" method="GET">
<input type="text" name="query"><br>
<input type="submit" value="Hae">
<hr>
<h2>Arvioidut ravintolat:</h2>
<hr>
{% for restaurant in reviewed_restaurants %}
<p>
 <a href="/restaurant/{{ restaurant[0] }}">{{ restaurant[0] }}</a>, {{ restaurant[1] }} tähteä
{% endfor %}
<p>
<h2>Kaikki ravintolat:</h2>
<hr>
{% for restaurant in all_restaurants %}
<p>
<a href="/restaurant/{{ restaurant[0] }}">{{ restaurant[0] }}</a>
{% endfor %}
<hr>




{% if session.username %}
<p>Kirjautunut käyttäjänä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<p>
<a href="/login">Kirjaudu sisään</a>|<a href="/register">Rekisteröidy</a>
</p>
{% endif %}
