{% extends "layout.html" %}
{% block content %}

<head>
	<h1> {{ name }} arvioiden muokkaus </h1>
</head>

<body>
	<div class="wrapper">
		<div class="box">
			{% for review in reviews %}
			<p>
			id: <b>{{ review[0] }}</b>, <i>{{ review[2] }}</i> tähteä, käyttäjä: <i>{{ review[3] }}</i>, näkyvä: {% if review[4] %}kyllä {% else %}ei {% endif %}
			<p>
			Arvio:
			<br>
			{{ review[1] }}
			<p>
			<p>
			{% endfor %}
		</div>
	</div>
	<br>
	<form action="/modify-reviews/{{ name }}" method = "POST">
	Mitä arviota haluat muokata (id numero):
	<br>
	<textarea name="id" rows="1" cols="30" ></textarea><br>	
	<input type="radio" name="action" value=FALSE>Piilota 
	<input type="radio" name="action" value=TRUE> Muuta näkyväksi<br>
	<input type="hidden" name="action" value="bad">
	<input type="submit" value="Muokkaa">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	<p>
	<a href="/">Etusivulle</a>  |  <a href="/restaurant/{{ name }}">Ravintolan sivuille </a>
</body>

{% endblock %}
